{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}
{% block title %}{% trans "User Info" %}{% endblock %}
{% load custom_filters %}
{% load socialaccount %}
{% block content %}
<div class="row" role="main">
    <div class="page-header">
        <h1>{% trans "Change Password" %}</h1>
    </div>
    <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
        {% csrf_token %}
        {{form.oldpassword | placeholder:"Current Password" | addclass:"form-control"}}
            <font color="red" >{{form.oldpassword.errors}}</font>
            <br>
        {{form.password1 | placeholder:"New Password" | addclass:"form-control"}}
            <font color="red" >{{form.password1.errors}}</font>
            <br>
        {{form.password2 | placeholder:"New Password(again)" | addclass:"form-control"}}
            <font color="red" >{{form.password2.errors}}</font>
            <br>
       	
        <button class="btn btn-sm btn-success pull-right" type="submit" name="action">{% trans "Change Password" %}</button>
    </form>
{% endblock %}
