{% extends "base_auth.html" %}
{% load i18n %}
{% load account %}
{% load static %}
{% load custom_filters %}
{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}
<div class="row">
        <div class="col-xs-12" role="main">
 
    <form  class="form-signin" method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
        <center><h2 class="form-signin-heading">{% trans "Password Reset" %}</h2></center>
    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}
    
    <p>{% trans "Enter your e-mail address below, we'll send you an e-mail allowing you to reset it." %}</p>
        {% csrf_token %}
        {{form.email | placeholder:"E-mail address" | addclass:"form-control"}}
            <font color="red" > {{form.email.errors}}</font>
            <br>
        <button class="btn btn-lg btn-success btn-block" type="submit">{% trans "Reset My Password" %}</button>
    </form>
    
    </div>
</div>  
{% endblock %}

{% block extra_body %}
    <script>
        $("#id_email").focus();
    </script>
{% endblock %}
