{% extends "base_auth.html" %}

{% load url from future %}
{% load i18n %}
{% load static %}
{% load custom_filters %}
{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
    
   
<div class="row">
    <div class="col-xs-12" role="main">
          <center><h2 class="form-signin-heading">{% if token_fail %}{% trans "Bad Token" %}{% else %}{% trans "Change Password" %}{% endif %}</h2></center>
            <form class="form-signin" method="POST" action=".">
               {% if token_fail %}
                {% url 'account_reset_password' as passwd_reset_url %}
                <p>{% blocktrans %}The password reset link was invalid, possibly because it has already been used.  Please request a <a href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}</p>
              {% else %}
              {% if form %}  
                {% csrf_token %}
                
                {{form.password1 | placeholder:" New Password" | addclass:"form-control"}}        
            <font color="red" >{{form.password1.errors}}</font>
            {{form.password2 | placeholder:"Password Again" | addclass:"form-control"}}
            <font color="red" >{{form.password2.errors}}</font>
                <input type="submit" class="btn btn-lg btn-success btn-block" name="action" value="{% trans "change password" %}"/>
            </form>
        {% else %}
            <p>{% trans 'Your password is now changed.' %}</p>
        {% endif %}
    {% endif %}
{% endblock %}
