{% extends "base_auth.html" %}
{% load url from future %}
{% load i18n %}
{% load custom_filters %}
{% block content %}
<div class="row">
    <div class="col-xs-12" role="main">
    	
        <form class="form-signin" id="signup_form" method="post" action="{% url 'account_signup' %}" role="form">
			<center><h2 class="form-signin-heading">{% trans "Sign Up" %}</h2></center>
			<!-- <p>{% blocktrans %}Already have an account? Then please <a href="{{ account_login }}">sign in</a>.{% endblocktrans %}</p> -->
			{% csrf_token %}
            <font color="red" >{{form.username.errors}}</font>
            {{form.email | placeholder:"E-mail address" | addclass:"form-control"}}
            <font color="red" >	{{form.email.errors}}</font>
            {{form.password1 | placeholder:"Password" | addclass:"form-control"}}		
			<font color="red" >{{form.password1.errors}}</font>
			{{form.password2 | placeholder:"Password Again" | addclass:"form-control"}}
			<font color="red" >{{form.password2.errors}}</font>
			{% if redirect_field_value %}
				<input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
			{% endif %}
			<button class="btn btn-lg btn-success btn-block" type="submit">{% trans "Sign Up" %} </button>
		</form>
	</div>
</div>
{% endblock %}


