libvirt-python==4.0.0
Django==1.11.4
gunicorn==18.0
lockfile>=0.12.2
#django-auth-ldap==1.2.0
IPy==0.83
# Utility Requirements
# for SECURE_KEY generation
# Uncoment for support ldap
#django-auth-ldap==1.2.0
