{% load i18n %}
{% blocktrans with site.domain as site_domain and user.username as username %}

<!DOCTYPE html>
<html>
<head>
	
</head>
<body>
 
<b style="font-size: 12px !important;"> Hello {{username}},</b>
<br>
<p> You're receiving this e-mail because you or someone else has requested a password for your user account at {{site_domain}}.

It can be safely ignored if you did not request a password reset. </p>
<p>Click the link below to reset your password.</p>
<a href="{{ password_reset_url }}">Reset Your Password</a></b>

<b style="font-size: 12px !important;"> 
Thanks for using our site!
</b>
</body>
</html>
{% endblocktrans %}
